body
{
}

#gameChat {
    border:3px solid #96a197;
    background-color: rgb(36, 36, 36);

}

#gameChatInput {
    border:3px solid #96a197;
    background-color: rgb(36, 36, 36);
    color: #BA55D3;

}

#lobbyChat {
    border:3px solid #96a197;
    background-color: rgb(36, 36, 36);

}

#lobbyChatInput {
    border:3px solid #96a197;
    background-color: rgb(36, 36, 36);
    color: #BA55D3;

}